<div ng-include="'components/navbar/navbar.html'"></div>
<div ng-include="'components/main/header.html'"></div>

<div class="container" ng-show="isLoggedIn() && getCurrentUser()._id == poll.user_id">
    <div class="row">
    	<div class="col-md-12" >
    		<h5 ng-show="!pollId.length">--- Something Went Wrong ---</h5>
        <div class="col-lg-12" ng-show="poll.length">
          <h3 class="text-center page-header">Edit Poll</h3>
        </div>
    		<br>
    		<h2>{{ poll.question }}</h2>
    		
    	   <!-- Add choice input form -->
            <form role="form" ng-submit="addChoice()">
              <div class="row">
                <div class="input-group">
                  <input type="text" name="choice" ng-model="addChoiceForm.choice" placeholder="Add Choice" class="form-control" required>
                  <span class="input-group-btn">
                    <input type="submit" class="btn btn-primary" value="Add">
                  </span>
                </div>
              </div>
            </form>
            <br>
            
           <!-- Choices list -->
           <p class="input-group" ng-repeat="choice in choices">
              <input type="text" ng-model="choice.choice_text" class="form-control">
              <span class="input-group-btn">
                <button class="btn btn-success" ng-click="updateChoice(choice)" aria-label="Save">Save</button>
                <button class="btn btn-danger" ng-click="removeChoice(choice, $index)" aria-label="Remove">Delete</button>
              </span>
           </p>
      </div>
    </div>
    <br>
    <button class="btn btn-default" ng-click="back()" aria-label="Back">Back</button>
</div>
<div class="container" ng-show="!isLoggedIn()">
  <p>Must be Logged In!</p>
</div>

<div ng-include="'components/main/footer.html'"></div>