<div ng-include="'components/navbar/navbar.html'"></div>
<div ng-include="'components/main/header.html'"></div>

<div class="container">
  <div class="row">
  	<!-- Show poll if not poll add url and polls are created by user -->
  	<h3 ng-show="!pollAddUrl" class="text-center page-header">Poll List</h3>
    <div class="col-lg-12" ng-show="polls.length == 0">
      	<h3>-- No polls added --</h3>
    </div>
	<div ng-if="isLoggedIn() && !pollAddUrl" ng-repeat="poll in polls">
		<span class="poll-item">
    		<button ng-show="getCurrentUser()._id == poll.user_id" class="btn-xs btn-success" ng-click="go('update', poll._id)" aria-label="Update">Update</button>
       	    <button ng-show="getCurrentUser()._id == poll.user_id" class="btn-xs btn-danger" ng-click="removePoll(poll, $index)" aria-label="Remove">Delete</button>
       	    <button ng-show="getCurrentUser()._id == poll.user_id" class="btn-xs btn-primary" ng-click="go('result', poll._id)" aria-label="Remove">Results</button>
       	    <button class="btn-xs btn-default" aria-label="{{ poll.question }}" disabled = "disabled">{{ poll.question }}</button>
       	    <br>Share: <a href="/polls/{{ poll._id }}">http://{{ host }}/polls/{{ poll._id }}</a>
	  		<br><br>
	  	</span>
	</div>
	<!-- Must be logged in to add apoll -->
	<div ng-if="isLoggedIn() && pollAddUrl">
	    <div class="col-lg-12">
	      <h3 class="text-center page-header">Add Poll</h3>
	    </div>

	   <!-- Add poll title input form -->
	   <br>
        <form role="form" ng-show="showAddPollForm" ng-submit="addPoll()">
          <div class="row">
            <div class="input-group">
              <input type="text" name="choice" ng-model="addPollForm.question" placeholder="Add Poll TItle" class="form-control" required>
              <span class="input-group-btn">
                <input type="submit" class="btn btn-primary" value="Add">
              </span>
            </div>
          </div>
          <p class="text-danger">{{ pollAdd }}</p>
        </form>

		<!-- Show no polls created message if poll add url and no polls created by user -->
		<h4 ng-show="!polls.length && !pollAddUrl">--- No polls created yet ---</h4>

        <!-- Show poll title -->
        <div id="new-poll-block" ng-show="pollTitleAdded">

        	<!-- Poll title -->
        	<h1 class="text-primary">{{ pollTitle }}</h1>

        	<!-- Public url -->
        	<h3>Public URL: <a href="/polls/{{ pollId }}">http://{{ host }}/polls/{{ pollId }}</a></h3><br>

	        <!-- Choices list -->
	        <p ng-repeat="choice in choices">
	           <button class="btn-sm btn-primary" disabled="disabled" aria-label="{{ choice.choice_text }}">{{ choice.choice_text }}</button>
	        </p>
	        <br>

		   <!-- Add choice input form -->
	        <form role="form" ng-submit="addChoice()">
	          <div class="row">
	            <div class="input-group">
	              <input type="text" name="choice" ng-model="addChoiceForm.choice" placeholder="Add Choice" class="form-control" required>
	              <span class="input-group-btn">
	                <input type="submit" class="btn btn-primary" value="Add">
	              </span>
	            </div>
	          </div>
	          <p class="text-danger">{{ choiceAdd }}</p>
	        </form>
	        <br>

	        <!-- To modify a poll click button -->
	        <p ng-show="choices.length != 0">
	        	<button class="btn-sm btn-danger" ng-click="go('update', pollId)" aria-label="Back">Edit Poll & Choices</button>
	        </p>
        </div>

	</div>

	<!-- Allow guests (not logged in users) see the poll list -->
	<div ng-if="!isLoggedIn()" ng-repeat="poll in polls">
		<span class="poll-item">
			<a href="/polls/{{ poll._id }}">{{ poll.question }}</a>
		</span>
	</div>

  </div>
  <p class="text-danger">{{ pollRemove }}</p>
  <br>
  <button class="btn btn-default" ng-click="back()" aria-label="Back">Back</button>
</div>

<div ng-include="'components/main/footer.html'"></div>