<div ng-include="'components/navbar/navbar.html'"></div>
<div ng-include="'components/main/header.html'"></div>

<div class="container">
      <div class="row">
    	<div class="col-md-12" >
    		<h5 ng-show="!pollId.length">--- Something Went Wrong ---</h5>
        <div class="col-md-12">
          <h3 class="text-center page-header">View Poll</h3>
        </div>
    		<br>
    		<h2>{{ poll.question }}</h2>
    		
           <!-- Choices list -->
           <p ng-repeat="choice in choices">
               {{ choice.choice_text }}
           </p>
      </div>
    </div>
    <br>
    <button class="btn btn-default" ng-click="back()" aria-label="Back">Back</button>
</div>

<div ng-include="'components/main/footer.html'"></div>